@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url(https://db.onlinewebfonts.com/c/f31990850acb50ca85c8e2fd39425647?family=taylor+swift);

body{
    font-family: 'taylor swift', sans-serif;
    margin: 0;
    padding: 0;
    background: #464d60;;

}
.container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #eab4cc;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    color: #6d3d46;
    float: left;
    padding: 5px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;
}

nav a {
    color: #464d60;
    font: 17px 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bea7c4; /* Adjust the color as needed */
    visibility: hidden;
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out;
}

nav a:hover {
    color: #000003; /* Change this color to your desired hover color */
}

nav a:hover::before {
    visibility: visible;
    transform-origin: bottom left;
    transform: scaleX(1);
}

.curved-box{
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 30%;
    text-align: center;
    color: #000003;
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
}

.home-image{
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    padding: 20px;
    background: #bdcfb7;
    float: right;
    margin-top: 70px;
    margin-right: 52px;
    font: 20px 'Roboto', sans-serif;
}

.about{
    margin-top: -15px;
    margin-left: 40px;
    float: center;
    background: #bea7c4;
    width: 90%;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    float: bottom;
    background-color: #bdcfb7;
    text-align: center;
    color: #464d60;
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
}